body{
	font-family: Arial, Helvetica, sans-serif;
}

.pre-head {
	background: white;
	position: relative;
	padding: 15px;
}

header{
	padding: 20px 0;
	color: white;
	background: black;
	
}

.main-title {
	font-size: 50px;
	position: absolute;
	top: 15px;
}

.header-box {
	position: relative;
	margin: 0 auto;
	width: 940px;
	height: 100px;
}

nav {
	position: absolute;
	top: 50px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-decoration: none;
	color:white;
	font-weight: bold;
	font-size: 22px;

}

.principal{
	text-align: center;
	padding: 20px;
	background: lightgrey;
	width: 940px;
	margin: auto;
}

