body{
	font-family: Arial, Helvetica, sans-serif;
}

.pre-head {
	background: white;
	position: relative;
	width: 940px;
	margin: 2px auto;

}

.pre-head li {
	display: inline;
	margin: 0 4px;
		
}

.pre-head nav img {
	border: solid 4px white;
	border-radius: 10px;
}

.pre-head nav img:hover {
	border: solid 4px rgb(71, 141, 168);
	border-radius: 10px;
}

header{
	padding: 20px 0;
	color: white;
	background: black;
	
}

.main-title {
	font-size: 50px;
	position: absolute;
	top: 15px;
}

.header-box {
	position: relative;
	margin: 0 auto;
	width: 940px;
	height: 100px;
}

.header-box nav {
	position: absolute;
	top: 50px;
	right: 0;
}


.header-box nav li {
	display: inline;
	margin: 0 0 0 15px;
}

.header-box nav a:hover {
	color: rgb(71, 141, 168);
	text-decoration: underline rgb(71, 141, 168);
	
	
}

.header-box nav a {
	text-decoration: none;
	color:white;
	font-weight: bold;
	font-size: 22px;

}

.principal{
	text-align: center;
	padding: 20px;
	background: lightgrey;
	width: 940px;
	margin: auto;
}

