body{
	font-family: Arial, Helvetica, sans-serif;
	background: url("../images/back.jpg");
}

.pre-head {
	background: lightgray;
	position: relative;
	width: 940px;
	margin: 0 auto;
	padding: 0 34px;

}

.pre-head li {
	display: inline;
	margin: 0 4px;		
}

.pre-head a{
	text-decoration: none;
}

.pre-head nav img {
	border: solid 4px white;
	border-radius: 10px;
}

.pre-head nav img:hover {
	border: solid 4px rgb(71, 141, 168);
	border-radius: 10px;
}

header{
	padding: 20px 34px;
	color: white;
	background: black;
	width: 940px;
	margin: 0 auto;
	
}

.main-title {
	font-size: 50px;
	position: absolute;
	top: 15px;
	font-weight: bold;
}

.header-box {
	position: relative;
	margin: 0 auto;
	width: 940px;
	height: 100px;
}

.header-box nav {
	position: absolute;
	top: 50px;
	right: 0;
	
}


.header-box nav li {
	display: inline;
	margin: 0 0 0 15px;
}

.header-box nav a:hover {
	color: rgb(71, 141, 168);
	text-decoration: underline rgb(71, 141, 168);
	
	
}

.header-box nav a {
	text-decoration: none;
	color:white;
	font-size: 22px;
	font-weight: bold;

}

main {
	text-align: justify;
	padding: 34px;
	background: lightgrey;
	width: 940px;
	margin: 0 auto;
	font-size: 26px;
	line-height: 1.5;
}

footer {
	text-align: center;
	background: black;
	padding: 180px 0;
	color: white;
	width: 940px;
	margin: 0 auto;
	padding: 34px;
}

form {
	padding: 20px;
	border: 2px solid black;
	margin-top: 30px;
}

form label {
	display: block;
	font-size: 20px;
	margin-bottom: 10px;
}

form input {
	display: block;
	padding: 10px 25px;
	width: 50%;
	margin-bottom: 20px;
}

